<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Survey Form</h1>
        </div>
    </div>
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <form action="/process" method="POST">
                    <table>
                        <tr>
                            <td>Your Name: </td>
                            <td><input type="text" name="name" class="form-control"></td>
                        </tr>
                        <tr>
                            <td>Dojo Location: </td>
                            <td>
                                <select name="location" class="form-control">
                                    <option value="Burbank">Burbank</option>
                                    <option value="Mountain View">Mountain View</option>
                                    <option value="Seattle">Seattle</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Favorite Language: </td>
                            <td>
                                <select name="language" class="form-control">
                                    <option value="JavaScript">JavaScript</option>
                                    <option value="Python">Python</option>
                                    <option value="Java">Java</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">Comment (optional):</td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <textarea name="comment" class="form-control"></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" class="align-right">
                                <input type="submit" value="Submit" class="btn btn-primary">
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
<script
src="https://code.jquery.com/jquery-3.3.1.min.js"
integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>