body {
	font-family: arial, helvetica, sans-serif;	
}
table {
	width: 100%;
	margin-bottom: 30px;
	border-bottom: 1px solid #ccc;
	padding-bottom: 10px;
}
table td,
table th {
	padding: 10px;
}
table td.title,
table td.description {
	width: 30%
}
table td.lang,
table td.numOfPages {
	width: 20%
}
table th {
	text-align: left;
	background-color: #30a71d;
	color: #fff;
}
table tr:nth-child(odd) {
	background-color: #efefef;
}
a.new:link,
a.new:visited,
a.new:active {
	text-decoration: none;
	color: #fff;
	padding: 8px 20px;
	border: none;
	border-radius: 5px;
	background-color: #0e82cc;
}
