<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Survey Form</title>
    <style>
        .extraspace {
            padding-top: 100px;
        }
        .align-right {
            text-align: right;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row extraspace">
        <div class="col-4"></div>
        <form action="/process" method="POST" class="col-4 .form">
            {% csrf_token %}
            <table>
                <tr>
                    <td>Your Name:</td>
                    <td><input type="text" class="form-control" name="name"></td>
                </tr>
                <tr>
                    <td>Dojo Location:</td>
                    <td>
                        <select class="form-control" name="dojo">
                            <option>Mountain View</option>
                            <option>Burbank</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Favorite Language:</td>
                    <td>
                        <select class="form-control" name="language">
                            <option>Javascript</option>
                            <option>Python</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        Comment (optional):
                        <textarea class="form-control" name="comments"></textarea>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="align-right">
                        <input type="submit" value="Submit" class="btn btn-primary">
                    </td>
                </tr>
            </table>
        </form>
        <div class="col-4"></div>
    </div>
    </div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>
</html>