body {
	font-family: arial, helvetica, sans-serif;
}
.container {
	width: 1200px;
	margin: 0 auto;
	display: block;
}
.box {
	display: inline-block;
	margin-right: 34px;
	padding: 10px;
	border: 1px solid #ccc;
	width: 20%;
	text-align: center;
}
.box .submitButton {
	padding: 8px 20px;
	background-color: #E8880C;
	color: #fff;
	border: none;
	border-radius: 5px;
	font-weight: bold;
	font-size: 14px;
}
.output {
	width: 93.5%;
	height: 300px;
	border: 1px solid #ccc;
	padding: 10px 30px;
	overflow: scroll;
}
.output ul {
	margin: 0;
	padding: 0;
}
.green {
	color: green;
}
.red {
	color: red;
}
