<html>
    <body>
        <h1>New Car</h1>
        <form>
            <p>
                <label>Car</label>
                <input type="text" name="make">
            </p>
            <p>
                <label>Car Image URL</label>
                <input type="text" name="url">
            </p>
            <p>
                <input type="submit" value="add">
            </p>
        </form>
    </body>
</html>